Notes on plotly dash, what I'd like to do
* Slider for time
* Search filter, synchronous between map and graph components
* US map option
* Possibly having a forecast graph under the normal one
* If this is successful, create a dashboard connected to an API? (Make it separately of course)

In [1]:
import pandas as pd

df_normal = pd.read_csv("covid_dataset\covid_19_data.csv")

# SNo is the index

df_normal = df_normal.set_index("SNo")
df_normal.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

## Confirmed Cases Time Series

In [2]:
df_time_confirmed = pd.read_csv("covid_dataset\\time_series_covid_19_confirmed.csv")
df_time_confirmed.head()

# This dataset shows daily levels of confirmed cases per location through longitude and latitude

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,53489,53538,53584,53584,53775,53831,53938,53984,54062,54141
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,63595,63971,64627,65334,65994,66635,67216,67690,67982,68568
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,102144,102369,102641,102860,103127,103381,103611,103833,104092,104341
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,8586,8586,8682,8818,8868,8946,9038,9083,9083,9194
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,18193,18254,18343,18425,18613,18679,18765,18875,18926,19011

## US Confirmed Cases Time Series

In [3]:
df_time_confirmed_US = pd.read_csv("covid_dataset\\time_series_covid_19_confirmed_US.csv")
df_time_confirmed_US.head()

# This dataset shows daily levels of confirmed cases per location through longitude and latitude
# What is UID, code3 and FIPS?

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,4879,4902,4970,4998,5075,5103,5154,5184,5198,5227
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,15327,15417,15572,15701,15841,16002,16176,16251,16346,16513
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1658,1663,1679,1685,1696,1712,1723,1729,1730,1738
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2051,2060,2090,2109,2113,2130,2144,2151,2162,2170
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,5066,5080,5134,5170,5219,5264,5292,5304,5308,5320

## Deaths Time Series

In [4]:
df_time_deaths = pd.read_csv("covid_dataset\\time_series_covid_19_deaths.csv")
df_time_deaths.head()

# Covid deaths per day in different locations correlating to longitude and latitude

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2277,2288,2301,2301,2314,2324,2336,2339,2343,2346
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1241,1247,1252,1256,1261,1265,1270,1277,1281,1287
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2807,2812,2816,2819,2822,2827,2831,2836,2840,2843
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,85,85,86,87,88,88,91,91,91,92
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,416,420,422,424,425,428,431,436,439,442

## US Deaths Time Series

In [5]:
df_time_deaths_US = pd.read_csv("covid_dataset\\time_series_covid_19_deaths_US.csv")
df_time_deaths_US.head()

# Covid deaths in the USA per day
# Shows population, could provide good insights but which?

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,54,55,55,55,55,55,55,55,55,55
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,173,173,175,175,177,179,182,182,182,183
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,35,35,35,35,36,36,36,36,36,36
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,48,48,48,48,47,47,47,47,47,47
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,77,77,79,80,80,83,83,83,83,83

## Recovered Time Series

In [6]:
df_time_recovered = pd.read_csv("covid_dataset\\time_series_covid_19_recovered.csv")
df_time_recovered.head()

# Recovered people per day with long/lat

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,43948,44137,44608,44850,45298,45434,45465,45868,46359,46554
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,37648,37981,38421,38860,39246,39625,40090,40453,40870,41464
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,69212,69403,69608,69791,69992,70188,70373,70554,70747,70933
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,7724,7724,7930,8070,8091,8116,8116,8154,8154,8349
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,13872,14825,15512,15631,16008,16120,16225,16347,16677,16822

* Get rid of NaN
* Can I group countries and/or provinces together? 
* Do the time series csv's have data points overtime?
* Ratio of dead vs recovered?
* Recovery rate overtime?
* Covid Circle Map- normal one without time series, then one with time series on plotly dash that can be changed by slider to see growth overtime
    * Other possible features for dashboard:
    * Search function for filtering?

# Getting rid of/replacing NaN values

In [7]:
# 3/5/2021
# TODO- Get rid of NaN values, unnecessary columns

### DF Normal

In [8]:
# First, let's see what columns have NaN values
df_normal_NaN = df_normal[df_normal.isna().any(axis=1)]
df_normal_NaN
count = len(df_normal[df_normal['Province/State'].isna()].index) # Gets amount of rows with NaN in this column
print(count == len(df_normal.index)) # False, therefore not all Province/State Values are Nan, let's replace them

df_normal['Province/State'] = df_normal['Province/State'].fillna('N/A')

df_normal_NaN = df_normal[df_normal.isna().any(axis=1)]
df_normal_NaN

df_normal.reindex(range(len(df_normal)))

# State/Province was the only series with null values. Let's move on to the time series

False

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
...,...,...,...,...,...,...,...
205946,01/19/2021,Zakarpattia Oblast,Ukraine,2021-01-20 05:21:54,29957.0,689.0,26661.0
205947,01/19/2021,Zaporizhia Oblast,Ukraine,2021-01-20 05:21:54,62492.0,738.0,39168.0
205948,01/19/2021,Zeeland,Netherlands,2021-01-20 05:21:54,13031.0,149.0,0.0
205949,01/19/2021,Zhejiang,Mainland China,2021-01-20 05:21:54,1316.0,1.0,1298.0
205950,01/19/2021,Zhytomyr Oblast,Ukraine,2021-01-20 05:21:54,42758.0,707.0,37834.0

In [9]:
from datetime import datetime

# I also just noticed how this dataset is structured, so I want to make a new dataframe that is the sum of the observation dates. Also I want to drop the first index because it is all NaN values (DONE)

df_normal_simple = df_normal[['ObservationDate', 'Confirmed', 'Deaths', 'Recovered']].set_index(df_normal.index)

df_normal_simple

#df_normal_simple.groupby(by='ObservationDate').sum()
#df_normal_simple.groupby(by='ObservationDate').sum().sort_values(by='ObservationDate', ascending=False)

# datetime.strptime(date_string, format)
# format = '%m/%d/%y'

#test = df_normal.iloc[0]['ObservationDate']
#test
#test = datetime.strptime(test, '%m/%d/%Y')
#test (works)

pd.to_datetime(df_normal_simple['ObservationDate'])
#df_normal_simple.groupby(by='ObservationDate').sum()
#df_normal_simple = df_normal_simple.groupby(by='ObservationDate').sum().sort_values(by='ObservationDate')

df_normal_simple.groupby('ObservationDate').agg({'Confirmed':'sum', 'Deaths':'sum', 'Recovered':'sum'}).sort_index()

#df_temp = df_normal_simple[df_normal_simple['ObservationDate'].year == 2021]

                  Confirmed     Deaths   Recovered
ObservationDate
01/01/2021       84025713.0  1827732.0  47289078.0
01/02/2021       84649404.0  1835910.0  47595212.0
01/03/2021       85183607.0  1843211.0  47860306.0
01/04/2021       85734208.0  1853501.0  48148226.0
01/05/2021       86469506.0  1868909.0  48464481.0
...                     ...        ...         ...
12/27/2020       80856030.0  1765126.0  45698093.0
12/28/2020       81349247.0  1774686.0  45994203.0
12/29/2020       82008964.0  1790140.0  46348935.0
12/30/2020       82768267.0  1805232.0  46731568.0
12/31/2020       83488443.0  1818336.0  47010049.0

[364 rows x 3 columns]

### Confirmed Case Time Series

In [10]:
df_time_confirmed_NaN = df_time_confirmed[df_time_confirmed.isna().any(axis=1)]
df_time_confirmed_NaN
#print(df_time_confirmed.shape) # This number indicates to us that the only column with null values is, again 'Province/State'

df_time_confirmed['Province/State'] = df_time_confirmed['Province/State'].fillna('N/A')
df_time_confirmed_NaN = df_time_confirmed[df_time_confirmed.isna().any(axis=1)]
df_time_confirmed_NaN # Only gives us a single row that contains data not important for our case. Lets delete this row (52, 'Repatriated Travellers')

#df_time_confirmed = df_time_confirmed.drop(52)
#df_time_confirmed_NaN = df_time_confirmed[df_time_confirmed.isna().any(axis=1)]
df_time_confirmed_NaN

# Also want to add a combined_key column like US Time Series has

# del df_time_confirmed['Combined_Key'] # Already done
del df_time_confirmed['Province/State']
df_time_confirmed.reindex(range(len(df_time_confirmed)))

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,...,53489,53538,53584,53584,53775,53831,53938,53984,54062,54141
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,63595,63971,64627,65334,65994,66635,67216,67690,67982,68568
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,102144,102369,102641,102860,103127,103381,103611,103833,104092,104341
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,8586,8586,8682,8818,8868,8946,9038,9083,9083,9194
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,18193,18254,18343,18425,18613,18679,18765,18875,18926,19011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,Vietnam,14.058324,108.277199,0,2,2,2,2,2,2,...,1514,1515,1520,1521,1531,1536,1537,1537,1539,1540
268,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,147400,148171,148968,149769,150505,151142,151569,152031,152555,153093
269,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,2104,2105,2107,2109,2110,2111,2112,2112,2113,2115
270,Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,...,27728,28596,29757,31100,32800,34278,36074,37605,38207,39515
271,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,...,21477,22297,23239,24256,25368,26109,26881,27203,27892,28675

### Confirmed Case USA Time Series

In [11]:
df_time_confirmed_US_NaN = df_time_confirmed_US[df_time_confirmed_US.isna().any(axis=1)]
df_time_confirmed_US_NaN # This df is providing too much info that we won't need in general, so let's delete UID, iso2, iso3, code3, and FIPS. We will keep Admin 2 because it would probably give us good data in terms of precision

df_time_confirmed_US.drop('UID', axis=1, inplace=True) # inplace is used to not have to redefine df_time_confirmed_US
df_time_confirmed_US.drop('iso2', axis=1, inplace=True) # axis = 1 is for columns, axis = 0 is for rows
df_time_confirmed_US.drop('iso3', axis=1, inplace=True) 
df_time_confirmed_US.drop('code3', axis=1, inplace=True) 
df_time_confirmed_US.drop('FIPS', axis=1, inplace=True) 
# Error because it's already done

In [12]:
df_time_confirmed_US['Province_State'] = df_time_confirmed_US['Province_State'].fillna('N/A')
df_time_confirmed_US['Admin2'] = df_time_confirmed_US['Admin2'].fillna('N/A')
df_time_confirmed_US_NaN = df_time_confirmed_US[df_time_confirmed_US.isna().any(axis=1)]
df_time_confirmed_US_NaN

Empty DataFrame
Columns: [Admin2, Province_State, Country_Region, Lat, Long_, Combined_Key, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, ...]
Index: []

[0 rows x 370 columns]

In [13]:
# I also observed that this time series includes miscellanious locations, such as cruises, which have latitude and longitude as 0. Let's delete those. Let's also Rename Long_ to Long and Combined_Key to State_Country

df_time_confirmed_US.rename(columns={'Long_': 'Long', 
                                     'State_Country': 'Combined_Key', 
                                     'Province_State' : 'Province/State', 
                                     'Country_Region' : 'Country/Region', 
                                     'State' : 'City'}, 
                                     inplace = True)

# df_filtered = df_time_confirmed_US[df_time_confirmed_US['Long'] != 0 and df_time_confirmed['Lat'] != 0]
# Getting problems with statement above, have to check what datatype long and lat are, because they don't seem to be numbers

# df_time_confirmed_US.dtypes # They're floats...
# Edit: turns out I was doing it wrong the whole time...

df_filtered = df_time_confirmed_US[(df_time_confirmed_US['Long'] != 0.0) & (df_time_confirmed_US['Lat'] != 0.0)]
df_filtered

df_time_confirmed_US = df_filtered #Done
df_time_confirmed_US.rename(columns={'Admin2':'State'}, inplace=True)
df_time_confirmed_US

,State,Province/State,Country/Region,Lat,Long,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",0,0,0,0,...,4879,4902,4970,4998,5075,5103,5154,5184,5198,5227
1,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",0,0,0,0,...,15327,15417,15572,15701,15841,16002,16176,16251,16346,16513
2,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",0,0,0,0,...,1658,1663,1679,1685,1696,1712,1723,1729,1730,1738
3,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",0,0,0,0,...,2051,2060,2090,2109,2113,2130,2144,2151,2162,2170
4,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",0,0,0,0,...,5066,5080,5134,5170,5219,5264,5292,5304,5308,5320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3334,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",0,0,0,0,...,3162,3187,3210,3222,3250,3262,3280,3290,3312,3329
3335,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",0,0,0,0,...,2353,2447,2497,2502,2579,2605,2614,2685,2753,2769
3336,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",0,0,0,0,...,1708,1744,1764,1774,1794,1806,1813,1817,1833,1843
3338,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",0,0,0,0,...,805,817,825,830,837,840,842,843,844,846
3339,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",0,0,0,0,...,485,485,601,601,602,602,602,602,602,606

### Confirmed Deaths Time Series

In [14]:
df_time_deaths = pd.read_csv("covid_dataset\\time_series_covid_19_deaths.csv")

df_time_deaths_NaN = df_time_deaths[df_time_deaths.isna().any(axis=1)]
df_time_deaths_NaN

del df_time_deaths['Province/State']

df_filtered = df_time_deaths[(df_time_deaths['Long'] != 0.0) & (df_time_deaths['Lat'] != 0.0)]
df_filtered

df_time_deaths = df_filtered
df_time_deaths

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,...,2277,2288,2301,2301,2314,2324,2336,2339,2343,2346
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,1241,1247,1252,1256,1261,1265,1270,1277,1281,1287
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,2807,2812,2816,2819,2822,2827,2831,2836,2840,2843
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,85,85,86,87,88,88,91,91,91,92
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,416,420,422,424,425,428,431,436,439,442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,Vietnam,14.058324,108.277199,0,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
268,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,1604,1614,1630,1658,1665,1687,1700,1718,1726,1741
269,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,611,612,612,612,612,612,612,612,612,612
270,Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,...,469,471,495,509,514,527,537,546,559,578
271,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,...,507,528,551,589,636,666,683,713,773,825

### Confirmed USA Deaths Time Series

In [15]:
df_time_deaths_US_NaN = df_time_deaths_US[df_time_deaths_US.isna().any(axis=1)]
df_time_deaths_US_NaN

#df_time_deaths_US.drop('UID', axis=1, inplace=True) # inplace is used to not have to redefine df_time_confirmed_US
#df_time_deaths_US.drop('iso2', axis=1, inplace=True) # axis = 1 is for columns, axis = 0 is for rows
#df_time_deaths_US.drop('iso3', axis=1, inplace=True) 
#df_time_deaths_US.drop('code3', axis=1, inplace=True) 
#df_time_deaths_US.drop('FIPS', axis=1, inplace=True)

#df_time_deaths_US['Province_State'] = df_time_deaths_US['Province_State'].fillna('N/A')
#df_time_deaths_US['Admin2'] = df_time_deaths_US['Admin2'].fillna('N/A')
#df_time_deaths_US_NaN = df_time_deaths_US[df_time_deaths_US.isna().any(axis=1)]
#df_time_deaths_US_NaN

df_time_deaths_US.rename(columns={'Long_': 'Long', 
                                     'State_Country': 'Combined_Key', 
                                     'Province_State' : 'State', 
                                     'Country_Region' : 'Country/Region', 
                                     'Admin2' : 'City'}, 
                                     inplace = True)

df_filtered = df_time_deaths_US[(df_time_deaths_US['Long'] != 0.0) & (df_time_deaths_US['Lat'] != 0.0)]
df_filtered

df_time_deaths_US = df_filtered #Done
df_time_deaths_US

,UID,iso2,iso3,code3,FIPS,City,State,Country/Region,Lat,Long,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,54,55,55,55,55,55,55,55,55,55
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,173,173,175,175,177,179,182,182,182,183
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,35,35,35,35,36,36,36,36,36,36
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,48,48,48,48,47,47,47,47,47,47
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,77,77,79,80,80,83,83,83,83,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3334,84056037,US,USA,840,56037.0,Sweetwater,Wyoming,US,41.659439,-108.882788,...,24,24,26,26,26,26,26,26,26,28
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,4,4,4,4,4,4,4,4,4,5
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,8,8,9,9,9,9,9,9,9,10
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,21,21,23,23,23,23,23,23,23,24
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,4,4,4,4,4,4,4,4,4,4

### US Recovered Time Series

In [16]:
df_time_recovered_NaN = df_time_recovered[df_time_recovered.isna().any(axis=1)]
df_time_recovered_NaN

del df_time_recovered['Province/State']

df_filtered = df_time_recovered[(df_time_recovered['Long'] != 0.0) & (df_time_recovered['Lat'] != 0.0)]
df_filtered

df_time_recovered = df_filtered #Done
df_time_recovered

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,...,43948,44137,44608,44850,45298,45434,45465,45868,46359,46554
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,37648,37981,38421,38860,39246,39625,40090,40453,40870,41464
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,69212,69403,69608,69791,69992,70188,70373,70554,70747,70933
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,7724,7724,7930,8070,8091,8116,8116,8154,8154,8349
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,13872,14825,15512,15631,16008,16120,16225,16347,16677,16822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,Vietnam,14.058324,108.277199,0,0,0,0,0,0,0,...,1361,1361,1361,1369,1369,1380,1380,1380,1402,1402
253,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,131117,132158,133599,134977,136247,137648,138495,139131,140075,140914
254,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,1407,1416,1416,1419,1419,1419,1419,1419,1421,1422
255,Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,...,20598,20781,21074,21568,22504,24105,25106,26159,27327,28066
256,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,...,12582,13213,13396,13658,14714,15414,15872,16512,17372,18110

In [17]:
# __From here on out, we're done with the data cleaning! Now to visualize!__

In [18]:
# TODO- figure out how to graph time series and normal dataframe with plotly, see what you can do, create function to filter visualization by country, state, etc.
# TODO- figure out how to visualize earth on plotly, start with whole planet magnitude thing; then we could try US map. View notes on top for more info/ideas
# Use df_normal for normal visualizations, for dashboard use all timeseries; make a US map and a global map

# Important note- df_normal will not be used today, needs extra work

In [19]:
import plotly.express as px
import datetime as datetime

# TODO convert column names to series, convert the values in that series to datetime types
# DONE

def filter(country, df, title):

    # [IGNORE] I deleted the province/region column, so this is necessary because territories are included and have bee proved problematic for the function
    df=df.groupby(by='Country/Region').sum()

    if country not in df.index:
        print("Country data not found. Try again.")
    
    else:
        column_list = df.columns.tolist()

        column_list = column_list[2:]
        dates = []

        for i in column_list:
            dates.append(pd.to_datetime(i))

        dates_series = pd.Series(dates)

        confirmed_series = df.loc[country]
        confirmed_series = confirmed_series.drop(['Lat','Long'])

        fig = px.line(x = dates_series, y=confirmed_series)
        fig.update_xaxes(title="Date")
        fig.update_yaxes(title="Daily Numbers")
        fig.update_layout(title={"text":title})
        fig.show()

filter('Afghanistan')
# Fuck yeah, noticed that this is not confirmed per day though, let's do that

def filter_daily(country, df, title=None):
    
    #I deleted the province/region column, so this is necessary because territories are included and have bee proved problematic for the function
    df=df.groupby(by='Country/Region').sum()
    
    if country not in df.index:
        print("Country data not found. Try again.")

    else:
        column_list = df.columns.tolist()

        column_list = column_list[2:]
        dates = []

        for i in column_list:
            dates.append(pd.to_datetime(i))

        dates_series = pd.Series(dates)

        confirmed_series = df.loc[country]
        confirmed_series = confirmed_series.drop(['Lat','Long'])

        for i in range(confirmed_series.shape[0]-1, 0, -1):
            if i == 0:
                break
            else:
                confirmed_series.iloc[i] = confirmed_series.iloc[i]-confirmed_series.iloc[i-1]
        
        fig = px.line(x = dates_series, y=confirmed_series)
        fig.update_xaxes(title="Date")
        fig.update_yaxes(title="Daily Numbers")
        fig.update_layout(title={"text":title})
        fig.show()

filter('Bolivia', df_time_confirmed, "Confirmed Cases")

#I deleted the province/region column, so modifications will have to be made to make the map actually work

TypeError: filter() missing 2 required positional arguments: 'df' and 'title'

## Make US Graph Function to filter down to states

In [22]:

def filter_US(state, df, title=None):

    # Grouping by state, so let's add them up
    df=df.groupby(by='State').sum()
    
    if state not in df.index:
        print("State data not found. Try again.")
    
    else:
        column_list = df.columns.tolist()

        dates = []

        for i in column_list:
            dates.append(pd.to_datetime(i))

        dates_series = pd.Series(dates)

        confirmed_series = df.loc[state]
        confirmed_series = confirmed_series[5:]

        fig = px.line(x = dates_series, y=confirmed_series)
        fig.update_xaxes(title="Date")
        fig.update_yaxes(title="Daily Numbers")
        fig.update_layout(title={"text":title})
        fig.show()

def filter_daily_US(state, df, title=None):

    # Grouping by state, so let's add them up
    df=df.groupby(by='State').sum()

    # Sum of confirmed daily cases country-wide
    if state.lower() == 'all':
        column_list = df.columns.tolist()

        column_list = column_list[5:]
        dates = []

        for i in column_list:
            dates.append(pd.to_datetime(i))

        dates_series = pd.Series(dates)

        confirmed_series = df[8:].sum(axis=0)

        for i in range(confirmed_series.shape[0]-1, 0, -1):
            if i == 0:
                break
            else:
                confirmed_series.iloc[i] = confirmed_series.iloc[i]-confirmed_series.iloc[i-1]

        print(dates_series)
        print(confirmed_series)

    elif state not in df.index:
        print("State data not found. Try again.")
    
    else:
        column_list = df.columns.tolist()

        column_list = column_list[5:]
        dates = []

        for i in column_list:
            dates.append(pd.to_datetime(i))

        dates_series = pd.Series(dates)

        confirmed_series = df.loc[state]
        confirmed_series = confirmed_series[5:]

        for i in range(confirmed_series.shape[0]-1, 0, -1):
            if i == 0:
                break
            else:
                confirmed_series.iloc[i] = confirmed_series.iloc[i]-confirmed_series.iloc[i-1]

    fig = px.line(x = dates_series, y=confirmed_series)
    fig.update_xaxes(title="Date")
    fig.update_yaxes(title="Daily Numbers")
    fig.update_layout(title={"text":title})
    fig.show()

#filter_daily_US('all', df_time_confirmed_US)
filter_daily_US('all', df_time_confirmed, 'Florida Filter')

KeyError: 'State'

## Notes for 3/5/21-3/6/21 Grind
* Great grind, learned a lot and we can build upon what we've made.
* Make part of function that can allow you to see combined daily cases/combined cases
* Should study how to make the map because it seems more complex.
* Also, line charts could be built upon to have options of 3-day and 7-day averages.
* How to make slider work with time series?
* Also make a map that just shows the totals
* I don't think the individual country and provinceare important, since there's long and lat we could just use the combined key.
    * On this note, I think that I kinda fucked up the long, lat and the region columns so we may have to start anew on a blank slate if we want this to work correctly. We can work on the map in this notebook for now, though.

FIRST TODO- RECREATE NOTEBOOK NEATLY

TODO: Map, all states, countries functions; 'All' function (sum of cases globally or in USA)
TODO after: start in a blank slate, fix df mess problems